.Rproj.user
.Rhistory
.RData
ME114_assignment3_solution.Rmd
ME114_assignment4_solution.Rmd
ME114_assignment5_solution.Rmd
ME114_assignment6_solution.Rmd
ME114_assignment7_solution.Rmd
ME114_assignment8_solution.Rmd
ME114_assignment9_solution.Rmd
ME114_assignment10_solution.Rmd
ME114_lab2.Rmd
ME114_lab3.Rmd
ME114_lab4.Rmd
ME114_lab5.Rmd
ME114_lab6.Rmd
ME114_lab7.Rmd
ME114_lab8.Rmd
ME114_lab9.Rmd
ME114_lab10.Rmd

