.Rproj.user
.Rhistory
.RData
ME114_lab1_solution.Rmd
ME114_lab2_solution.Rmd
ME114_lab3_solution.Rmd
ME114_lab4_solution.Rmd
ME114_lab5_solution.Rmd
ME114_lab6_solution.Rmd
ME114_lab7_solution.Rmd
ME114_lab8_solution.Rmd
ME114_lab9_solution.Rmd
ME114_lab10_solution.Rmd


